@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.c1 {
    background-color: #1f2937;
    padding: 0 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headlogo {
    width: 120px;
}

.header a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    -webkit-transition: color .25s;
}

.header a:hover {
    color: #6995ce;
    transition: .25s;
}